<!DOCTYPE html>
<html lang="en">
<head>
  <header th:insert="partials/partials :: header" />
  <title>Insurance</title>
</head>
<body>

<nav th:replace="partials/partials :: navbar" />


<h1 th:text="${insurance.q1}"></h1>
<h1 th:text="${insurance.q1 == 18}"></h1>

<h1>Medical Insurance Page</h1>

<form th:action="@{/user/} + ${id} + @{/insurance}" th:method="insurance" th:object="${insurance}">

  <div id="q1" class="q1"><!--    insert question here    --></div><br>
  <div id="q2" class="q2"><!--    insert question here    --></div><br>
  <div id="q3" class="q3"><!--    insert question here    --></div><br>
  <div id="q4" class="q4"><!--    insert question here    --></div><br>
  <div id="q5" class="q5"><!--    insert question here    --></div><br>
  <div id="q6" class="q6"><!--    insert question here    --></div><br>
  <div id="q7" class="q7"><!--    insert question here    --></div><br>

  <input type="submit" id="insuranceSubmit" value="Submit"><br><br><br><br>

</form>

<footer th:replace="partials/partials.html :: footer" />

<script th:src="@{/js/insurance.js}"></script>
<script th:src="@{/js/handleOtherSpecify.js}"></script>
<script th:src="@{/js/showHiddenQuestions.js}"></script>

</body>
</html>