<!DOCTYPE html>
<html lang="en">
<head>
  <header th:insert="partials/partials :: header" />
  <title>Insurance</title>
</head>
<body>

<nav th:replace="partials/partials :: navbar" />

<h1>Medical Insurance Page</h1>

<form th:action="@{/user/} + ${id} + @{/insurance}" th:method="post" th:object="${insurance}">

  <div id="q1" class="q1"><!--    insert question here    --></div><br>
  <div id="q2" class="q2"><!--    insert question here    --></div><br>
  <div id="q3" class="q3"><!--    insert question here    --></div><br>
  <div id="q4" class="q4"><!--    insert question here    --></div><br>
  <div id="q5" class="q5"><!--    insert question here    --></div><br>
  <div id="q6" class="q6"><!--    insert question here    --></div><br>
  <div id="q7" class="q7"><!--    insert question here    --></div><br>

  <input type="submit" id="insuranceSubmit" value="Submit"><br><br><br><br>

</form>

<footer th:replace="partials/partials.html :: footer" />

<script th:src="@{/js/insurance.js}"></script>
<script th:src="@{/js/handleOtherSpecify.js}"></script>
<!--<script th:src="@{/js/showHiddenQuestions.js}"></script>-->
<!--<script th:src="@{/js/autofillInsuranceDataFromDatabase.js}"></script>-->

<script>

   let insuranceQ1Value = parseInt([[${insurance.q1}]]);
   let insuranceQ1osValue = '[[${insurance.q1os}]]';
   let insuranceQ2Value = parseInt([[${insurance.q2}]]);
   let insuranceQ2osValue = '[[${insurance.q2os}]]';
   let insuranceQ3Value = '[[${insurance.q3}]]';
   let insuranceQ4Value = parseInt([[${insurance.q4}]]);
   let insuranceQ5Value = parseInt([[${insurance.q5}]]);
   let insuranceQ5osValue = '[[${insurance.q5os}]]';
   let insuranceQ6Value = parseInt([[${insurance.q6}]]);
   let insuranceQ6osValue = '[[${insurance.q6os}]]';
   let insuranceQ7Value = '[[${insurance.q7}]]';

   autofillClosedQuestionsFromDB(1, insuranceQ1Value)
   autofillOpenQuestionsFromDB("q1os", insuranceQ1osValue)
   autofillClosedQuestionsFromDB(2, insuranceQ2Value)
   autofillOpenQuestionsFromDB("q2os", insuranceQ2osValue)
   autofillOpenQuestionsFromDB("textarea_3", insuranceQ3Value)
   autofillClosedQuestionsFromDB(4, insuranceQ4Value)
   autofillClosedQuestionsFromDB(5, insuranceQ5Value)
   autofillOpenQuestionsFromDB("q5os", insuranceQ5osValue)
   autofillClosedQuestionsFromDB(6, insuranceQ6Value)
   autofillOpenQuestionsFromDB("q6os", insuranceQ6osValue)
   autofillOpenQuestionsFromDB("textarea_7", insuranceQ7Value)

   function autofillClosedQuestionsFromDB(questionNumber, questionValue) {
     document.getElementById("radio_" + questionNumber + "_" + (questionValue - 1)).checked = true;
   }

   function autofillOpenQuestionsFromDB(questionId, questionValue) {
     if (questionValue !== null && questionValue !== "" && questionValue !== "NA") {
       document.getElementById(questionId).value = questionValue;
     }
   }

   // Wait for the DOM to be fully loaded before running
   document.addEventListener("DOMContentLoaded", function () {

     // Retrieve the value of insurance.q4 from your HTML
     // let insuranceQ4Value = parseInt([[${insurance.q4}]]);

     // Check if insuranceQ4Value is not equal to 1
     if (insuranceQ4Value != 1) {
       // Initially hide questions
       document.getElementById("q5").style.display = "none";
       document.getElementById("q6").style.display = "none";
       document.getElementById("q7").style.display = "none";
     }

   });

</script>

</body>
</html>