<!DOCTYPE html>
<html lang="en">
<head>
  <header th:insert="partials/partials :: header" />
  <title>Prescriptions</title>
</head>
<body>

<nav th:replace="partials/partials :: navbar" />

<h1>Prescriptions Page</h1>

<div class="prescription">

  <form th:action="@{/user/} + ${id} + @{/prescriptions}" th:method="post" th:object="${prescription}">

    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input th:field="*{name}" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
      <label for="dosage" class="form-label">Body</label>
      <input th:field="*{dosage}" type="text" class="form-control" id="dosage" >
    </div>

    <input type="hidden" th:field="*{id}" />

    <input type="submit" id="prescriptionSubmit" value="Submit">

  </form>

</div>

<footer th:replace="partials/partials.html :: footer" />

</body>
</html>