<!DOCTYPE html>
<html lang="en">
<head>
  <header th:insert="partials/partials :: header" />
  <title>Surgeries</title>
</head>
<body>

<nav th:replace="partials/partials :: navbar" />

<h1>Surgeries Page</h1>

<div class="surgery">

  <form th:action="@{/user/} + ${id} + @{/surgeries}" th:method="post" th:object="${surgery}">

    <div class="mb-3">
      <label for="type" class="form-label">Surgery type</label>
      <input th:field="*{type}" type="text" class="form-control" id="type">
    </div>
    <div class="mb-3">
      <label for="date">Surgery date</label>
      <input th:field="*{date}" type="date" class="form-control" id="date" required>
    </div>

    <input type="hidden" th:field="*{id}" />

    <input type="submit" id="surgerySubmit" value="Submit">

  </form>

</div>

<footer th:replace="partials/partials.html :: footer" />

</body>
</html>